<h1>Register</h1>

<%- message %>

<form action="/signup" method="post">
  <p>
    <label>Username</label>
    <input type="text" name="username">
  </p>
  <p>
    <label>Password</label>
    <input type="text" name="password">
  </p>
  <p>
    <input type="submit" value="Register">
  </p>
  <p>
    <a href="/login">Login</a>
  </p>

</form>
